<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="classicalMusic" class="com.example.ClassicalMusic"/>
    <bean id="indieMusic" class="com.example.IndieMusic"/>
    <bean id="jazzMusic" class="com.example.Jazz"/>

    <util:list id="musicList">
        <ref bean="classicalMusic"/>
        <ref bean="indieMusic"/>
        <ref bean="jazzMusic"/>
    </util:list>

    <bean id="musicPlayer" class="com.example.MusicPlayer">
        <property name="music" ref="musicList"/>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>
